---
import Layout from '../layouts/main.astro';
---


<Layout>
        <section id="guidelines">
    <div class="container py-3 grid grid-cols-1 sm:grid-cols-4 gap-4">
          <!-- 1/4 Width Column -->
          <div class="items-center  justify-center col-span-1 bg-gray-300 p-4" style="text-align: center;">
            <img src=""/>
            <h1 class="section-title"> Guidelines and Submissions</h1><br />
    <div>Submit animation at <a target="_blank" class="hover:text-red-400 text-red-700" href=" https://learn.fossee.in">https://learn.fossee.in</a>.</div>
        
        </div>
        <!-- 3/4 Width Column -->
        <div class="col-span-3 p-4">
            
                <h1 class="section-title  text-4xl pb-3">Submission Guidelines
                </h1>
                <ul style="list-style: circle;" class="text-xl  playfair-display-normal ">
                    
                        <li>After confirming your participation in the Hackathon, the
                                login credentials will be generated and sent to you on the
                                registered email ID.</li>
                        <li>The participants have to submit animation at <a target="_blank" class="hover:text-red-400 text-red-700"  href="https://learn.fossee.in" target="_blank">https://learn.fossee.in.</a></li>
                        </ul>
                        <h1 class="section-title text-4xl pb-3">Properties of animation:
                        </h1>
                        <ul style="list-style: circle;" class="text-xl  playfair-display-normal ">
                            
                            <li>Software for creating the animation - Synfig Studio</li>
                            <li>Animation duration - 3 minutes or less</li>
                            <li>Render Setting Quality at 8</li>
                            <li>Resolution - 720 x 480 px</li>
                            <li>Frame rate - 24 fps</li>
                            </ul>
                            <h1 class="section-title text-4xl pb-3">Preparation for submission:
                            </h1>
                            <ul style="list-style: circle;" class="text-xl  playfair-display-normal ">
                                
                               
                                    <li>Create a folder with the name of your Team-ID.</li>
                                    <li>The folder should consist of the following files:
                                    <ul style="list-style: square;" class="ml-5">
                                    <li>Source files generated in Synfig Studio - .sifz/.sif</li>
                                    <li>The video output (Avi/Mov/Fla/Ogg/Mp4)</li>
                                    <li>Source files of artwork, illustrations, images, <br />editing files, fonts etc.</li>
                                    </ul>
                                    </li>
                                    <li>Compress the folder and upload in zip format only.</li>
                                    <li>The last date of submission is <span class="text-blue-800 text-3xl">20 May 2024 </span> till midnight. The participants can modify their submission anytime within this deadline.</li>
                                    </ul>
                                    <h1 class="section-title text-4xl pb-3">Steps to submit animation
                                    </h1>
                                    <ul style="list-style: circle;" class="text-xl  playfair-display-normal ">
                                        
                                       
                                      <li>Go to <a target="_blank" class="hover:text-red-400 text-red-700"  href="https://learn.fossee.in">https://learn.fossee.in</a></li>
                                      <li>Click on the "Log in" button available on the top right of the page.</li>
                                      <li>Enter the username and password as received over mail and click on "Log in".</li>
                                      <li>After logging in for the first time, you will be prompted to update the password.</li>
                                      <li>Click on the "<a href="https://learn.fossee.in/course/view.php?id=8" target="_blank" class="hover:text-red-400 text-red-700">Animate 2024</a> Course category ANIMATION HACKATHON 2024" available in the left panel of your dashboard.</li>
                                      <li>Scroll down and go to the "Animation Submission Upload" section.</li>
                                      <li>Go to "Click here to add your submission" to submit your files for the hackathon.</li>
                                      </ul>
          
        </div>
      
      
      </div>
</section>
</Layout>