---
import Main from "../layouts/main.astro";
import qrcode from "../images/qrcode-register.png";

const registerContent = await Astro.glob("../content/registerPage/*.md");
---

<Main>
  <section id="register">
    <div class="container grid grid-cols-1 sm:grid-cols-4 gap-4">
      <div
        class="place-items-center justify-center col-span-1 bg-gray-300 p-4 playfair-display-normal"
        style="text-align: center;"
      >
        <div>
          <div class="pb-2 mb-2">
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScZlC-2OHmOVRnK6PAleW35z7Do1jDZsMd6v6zu0v2kj97PEQ/viewform"
              target="_blank"
              style="color:#e7dacb;"
              class="bg-[#f70000] hover:bg-blue-800 text-xl rounded-lg px-5 py-2.5"
            >
              <strong>Register</strong></a
            >
          </div>
          <p class="text-xl">
            Scan QR code for registration or click on - I like to participate -
            Link of Google form
          </p>
        </div>
        <div class="place-items-center pt-2">
          <img
            class="items-center ml-3"
            src={qrcode.src}
            style="width: 85%;"
            alt="ANIMATE 2024"
            decoding="async"
          />
        </div>
        <!-- <imsrc qr code -->
      </div>
      <div class="registerRules col-span-3 p-4">
        {
          registerContent.map((content) => {
            const Content = content.Content;
            return (
              <>
                <h1 class="section-title text-4xl pb-3">
                  {content.frontmatter.heading}
                </h1>
                <Content />
              </>
            );
          })
        }
      </div>
    </div>
  </section>
</Main>

<script>
  const register = document.querySelector(".registerRules");
  const registerUL = register.querySelector("ul");
  const registerLI = register.querySelectorAll("ul li");
  const registerOL = register.querySelector("ol");
  // console.log(registerOL);
  registerUL.classList.add("list-disc", "text-xl", "playfair-display-normal");
  registerLI[2]
    .querySelector("strong")
    .classList.add("text-red-700", "font-normal");
  registerOL.classList.add("list-decimal", "list-inside", "pt-1");
</script>
