---
import Main from "../layouts/main.astro";
import resources from "../images/resources.png";
import { slide } from "astro:transitions";

const resourcesContent = await Astro.glob("../content/resourcesPage/*.md");
---

<Main>
  <section id="about">
    <div class="flex flex-col md:flex-row pt-3 mt-3">
      <!-- heading on bottom of div -->
      <div class="w-full md:w-1/2 relative min-h-full">
        <div class="md:absolute bottom-0">
          <h1 class="justify-end text-4xl mb-4">
            Some Helpful Resources for Hackathon:
          </h1>
        </div>
      </div>
      <div class="w-1/2">
        <img
          src={resources.src}
          alt="Resources list"
          decoding="async"
          width="50%"
          transition:animate={slide({
            duration: "0.6s",
            delay: "1s",
            direction: "backward",
          })}
        />
      </div>
    </div>

    <!-- content -->
    <div class="mt-4">
      <div class="pt-4 leading-normal sm:leading-loose">
        <div
          class="resource text-justify md:text-xl text-sm playfair-display-normal mb-5 pb-5"
        >
          {
            resourcesContent.map((content) => {
              const Content = content.Content;
              return <Content />;
            })
          }
        </div>
      </div>
    </div>
  </section>
</Main>

<script>
  const resources = document.querySelector(".resource");
  const resourcesUL = resources.querySelector("ul");
  const resourcesLI = resources.querySelectorAll("ul li");
  const resourcesA = resources.querySelectorAll("ul li a");
  resourcesUL.classList.add("list-disc");
  resourcesLI.forEach((li) => {
    li.classList.add("mb-2");
  });
  resourcesA.forEach((a) => {
    a.classList.add("hover:text-red-400", "text-red-700");
  });
</script>
