---
import Main from '../layouts/main.astro';

---

<Main title="Results">
    <div class="overflow-x mt-5 pt-5 pb-5 mb-5">

        <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
            <thead class="text-2xl">
                
                <tr>
                    <th>Sr. No.</th>
                    <th>Category of Winners</th>
                    <th>Winner Names</th>
                    <th>Video Link</th>
                </tr>
            </thead>
            <tbody class="border border-slate-400 pl-2 m-2">
               <tr>
<td colspan="1" rowspan="9">
<div>1</div>
</td>
<td colspan="1" rowspan="4">
<div>First</div>
</td>
<td>Karunya GS</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-062.mp4" target="_blank">Forest Protection</a></div>
</td>
</tr>
<tr>
<td>Harshini VM</td>
</tr>
<tr>
<td>Deevith M</td>
</tr>
<tr>
<td>Sanjay K</td>
</tr>
<tr>
<td>Second</td>
<td>Raktima Chattopadhyay</td>
<td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-014.mp4" target="_blank">Street Play (Paath Khela)</a></td>
</tr>
<tr>
<td colspan="1" rowspan="4">
<div>Third</div>
</td>
<td>Seikh Nabab Uddin</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-116.mp4" target="_blank">Beehive cooler</a></div>
</td>
</tr>
<tr>
<td>Vinayak Kumar</td>
</tr>
<tr>
<td>Soumik Neogi</td>
</tr>
<tr>
<td>A.R. Jahnavi</td>
</tr>
<tr>
<td colspan="1" rowspan="4">
<div>2</div>
</td>
<td colspan="1" rowspan="4">
<div>Best School Submission</div>
</td>
<td>Tatwart</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-007.mp4" target="_blank">Clean City Story Using Solar Energy</a></div>
</td>
</tr>
<tr>
<td>Navya</td>
</tr>
<tr>
<td>Divya</td>
</tr>
<tr>
<td>Shreya</td>
</tr>
<tr>
<td colspan="1" rowspan="4">
<div>3</div>
</td>
<td colspan="1" rowspan="4">
<div>Regional Language</div>
</td>
<td>Kabir Chauhan</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-008.mp4" target="_blank">Marine Garbage Collector</a></div>
</td>
</tr>
<tr>
<td>Gayatri Swain</td>
</tr>
<tr>
<td>Arun</td>
</tr>
<tr>
<td>Sachina</td>
</tr>
<tr>
<td>4</td>
<td>Environmental Relevance</td>
<td>Ragini</td>
<td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-070.mp4" target="_blank">Urban Herbal Planting</a></td>
</tr>
<tr>
<td colspan="1" rowspan="4">
<div>5</div>
</td>
<td colspan="1" rowspan="4">
<div>Social Relevance</div>
</td>
<td>NITHYA SHREE.E</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-041.mp4" target="_blank">Solar Panel Importance</a></div>
</td>
</tr>
<tr>
<td>PRIYA KEERTHANA.A</td>
</tr>
<tr>
<td>SIVAHARSHAVARDHINI.T</td>
</tr>
<tr>
<td>NANDHA DEEPA.S</td>
</tr>
<tr>
<td colspan="1" rowspan="8">
<div>6</div>
</td>
<td colspan="1" rowspan="4">
<div>Innovation</div>
</td>
<td>Swetha P</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-064.mp4" target="_blank">Medical Aid Innovation Story</a></div>
</td>
</tr>
<tr>
<td>Merlyn A S</td>
</tr>
<tr>
<td>Tharun P</td>
</tr>
<tr>
<td>Yaswanth R</td>
</tr>
<tr>
<td colspan="1" rowspan="4">
<div>Innovation</div>
</td>
<td>M.M.Rithika</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-042.mp4" target="_blank">Plastic Road</a></div>
</td>
</tr>
<tr>
<td>K.Rithika</td>
</tr>
<tr>
<td>S.S.Subrajaa</td>
</tr>
<tr>
<td>M.R.Thanusri</td>
</tr>
<tr>
<td colspan="1" rowspan="34">
<div>7</div>
</td>
<td colspan="1" rowspan="34">
<div>Consolation</div>
</td>
<td>Amisha kumari</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-065.mp4" target="_blank">Eco-friendly challenge</a></div>
</td>
</tr>
<tr>
<td>Rashi</td>
</tr>
<tr>
<td>Rabiya Rahmani</td>
</tr>
<tr>
<td>Ganesh kumar</td>
</tr>
<tr>
<td>BRINDHA V C</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-072.mp4" target="_blank">NAVIC</a></div>
</td>
</tr>
<tr>
<td>LALITHYA T</td>
</tr>
<tr>
<td>ELANNGO M</td>
</tr>
<tr>
<td>BHAVADHARANI S</td>
</tr>
<tr>
<td>Anirudh Srinivasan G S</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-100.mp4" target="_blank">AWS Water Solutions</a></div>
</td>
</tr>
<tr>
<td>Arvind B</td>
</tr>
<tr>
<td>Arun Aravindh R</td>
</tr>
<tr>
<td>Prasanth S</td>
</tr>
<tr>
<td>Balasurya</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-051.mp4" target="_blank">Innovative India (Celebration of Creativity)</a></div>
</td>
</tr>
<tr>
<td>Suman</td>
</tr>
<tr>
<td>Florance Vimal</td>
</tr>
<tr>
<td>Harish Sanjay</td>
</tr>
<tr>
<td>Vismita A</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-046.mp4" target="_blank">Plastic life</a></div>
</td>
</tr>
<tr>
<td>Preethiga M</td>
</tr>
<tr>
<td>Yaswanth Kumar L</td>
</tr>
<tr>
<td>Monish S</td>
</tr>
<tr>
<td>Krishna Priya. A</td>
<td colspan="1" rowspan="3">
<div><a class="in-cell-link" href="https://youtu.be/SUPvwVf6Dzc" target="_blank">The need of Education and Medication</a></div>
</td>
</tr>
<tr>
<td>Indhu. J</td>
</tr>
<tr>
<td>Vani. I</td>
</tr>
<tr>
<td>LAVANYA SHREE V</td>
<td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-059.avi" target="_blank">Mitti Cool Fridge</a></td>
</tr>
<tr>
<td>Rajwardhan Shitole</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-037.mp4" target="_blank">Ganimi Kawa (Innovation in War)</a></div>
</td>
</tr>
<tr>
<td>Shubham Kale</td>
</tr>
<tr>
<td>Pradip Nikam</td>
</tr>
<tr>
<td>Rushikesh Taradgaonkar</td>
</tr>
<tr>
<td>HARIVIGNESH.T</td>
<td colspan="1" rowspan="4">
<div><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-040.mp4" target="_blank">Defense of India</a></div>
</td>
</tr>
<tr>
<td>Abinayabharathi N C</td>
</tr>
<tr>
<td>Dharanikumar K</td>
</tr>
<tr>
<td>Dharshini B</td>
</tr>
<tr>
<td>Vidhya V</td>
<td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-082.mp4" target="_blank">Digital knowledge</a></td>
</tr>
<tr>
<td>S.Hemavathi</td>
<td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-084.mp4" target="_blank">Plastic free farming</a></td>
</tr>
                    
</tbody>
</table>
</div>

</Main>
<style>
    table{
        box-shadow: none;
        background-color: white;
        transition: 0.3s;
    }

    table:hover{
        
        box-shadow: 0px 5px 58px 0px rgba(36, 80, 80, 0.7);
     
        /* scale: 1.1; */
    }
a {
  /* background:; */
  color: rgb(255, 0, 149);
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

a:hover {
  background-color: #ff5e00;
  color: white;
  
}

a:active {
  background-color: rgb(255, 0, 0);
  
}

/* a:visited {
  background-color: #9dff6f;
} */
tr, th,td{
    border: 2px solid rgb(255, 0, 85);
    padding: 5px;
}

</style>