---
import Main from '../layouts/main.astro';

---

<Main title="Results">
    <div class="overflow-x">

        <table class="w-full overflow-scroll text-xl text-center rtl:text-right">
            <thead class="text-2xl">
                
                <tr>
                    <th>Sr. No.</th>
                    <th>Category of Winners</th>
                    <th>Animation Name</th>
                    <th>File Name</th>
                </tr>
            </thead>
            <tbody class="border-collapse border border-slate-400">
                <tr>
                    <td colspan="1" rowspan="3">1</td>
                    <td colspan="1" rowspan="3">
                        College
                    </td>
                    <td>Forest Protection</td>
                    <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-062.mp4" target="_blank">Animate24-062.mp4</a></td>
                </tr>
                <tr>
                    <td>Street Play (Paath Khela)</td>
                    <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-014.mp4" target="_blank">Animate24-014.mp4</a></td>
                </tr>
                <tr>
        <td>Beehive cooler</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-116.mp4" target="_blank">Animate24-116.mp4</a></td>
    </tr>
    <tr>
        <td></td>
       
    </tr>
    <tr>
        <td>2</td>
        <td>School</td>
        <td>Clean City Story Using Solar Energy</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-007.mp4" target="_blank">Animate24-007.mp4</a></td>
    </tr>
    <tr>
        <td></td>
       
    </tr>
    <tr>
        <td>3</td>
        <td>Regional Language</td>
        <td>Marine Garbage Collector</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-008.mp4" target="_blank">Animate24-008.mp4</a></td>
    </tr>
    <tr>
        <td></td>
       
    </tr>
    <tr>
        <td>4</td>
        <td>Environmental Relevance</td>
        <td>Urban Herbal Planting</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-070.mp4" target="_blank">Animate24-070.mp4</a></td>
    </tr>
    <tr>
        <td></td>
       
    </tr>
    <tr>
        <td>5</td>
        <td>Social Relevance</td>
        <td>Solar Panel Importance</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-041.mp4" target="_blank">Animate24-041.mp4</a></td>
    </tr>
    <tr>
        <td></td>
       
    </tr>
    <tr>
        <td colspan="1" rowspan="2">6</td>
        <td colspan="1" rowspan="2">
            Innovation
        </td>
        <td>Medical Aid Innovation Story</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-064.mp4" target="_blank">Animate24-064.mp4</a></td>
    </tr>
    <tr>
        <td>Plastic Road</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-042.mp4" target="_blank">Animate24-042.mp4</a></td>
    </tr>
    <tr>
        <td></td>
       
    </tr>
    <tr>
        <td colspan="1" rowspan="11">7</td>
        <td colspan="1" rowspan="11">
            Consolation
        </td>
        <td>Eco-friendly challenge</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-065.mp4" target="_blank">Animate24-065.mp4</a></td>
    </tr>
    <tr>
        <td>NAVIC</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-072.mp4" target="_blank">Animate24-072.mp4</a></td>
    </tr>
    <tr>
        <td>AWS Water Solutions</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-100.mp4" target="_blank">Animate24-100.mp4</a></td>
    </tr>
    <tr>
        <td>Innovative India (Celebration of Creativity)</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-051.mp4" target="_blank">Animate24-051.mp4</a></td>
    </tr>
    <tr>
        <td>Plastic life</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-046.mp4" target="_blank">Animate24-046.mp4</a></td>
    </tr>
    <tr>
        <td>The need of Education and Medication</td>
        <td><a class="in-cell-link" href="https://youtu.be/SUPvwVf6Dzc/" target="_blank">Animate24-099.video</a></td>
    </tr>
    <tr>
        <td>Mitti Cool Fridge</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-059.avi" target="_blank">Animate24-059.avi</a></td>
    </tr>
    <tr>
        <td>Ganimi Kawa (Innovation in War)</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-037.mp4" target="_blank">Animate24-037.mp4</a></td>
    </tr>
    <tr>
        <td>Defense of India</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-040.mp4" target="_blank">Animate24-040.mp4</a></td>
    </tr>
    <tr>
        <td>Digital knowledge</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-082.mp4" target="_blank">Animate24-082.mp4</a></td>
    </tr>
    <tr>
        <td>Plastic free farming</td>
        <td><a class="in-cell-link" href="https://static.fossee.in/focal/ANIMATE2024/Animate24-084.mp4" target="_blank">Animate24-084.mp4</a></td>
    </tr>
</tbody>
</table>
</div>

</Main>
<style>
a {
  /* background:; */
  color: rgb(255, 131, 203);
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

a:hover {
  background-color: #ff5e00;
  color: white;
  
}

a:active {
  background-color: rgb(255, 0, 0);
  
}

/* a:visited {
  background-color: #9dff6f;
} */
tr, th,td{
    border: 2px solid rgb(255, 0, 85);
}

</style>