---
import Main from "../layouts/main.astro";
import { slide } from "astro:transitions";

const rulesContent = await Astro.glob("../content/rulesPage/*.md");
---

<Main>
  <section id="rules">
    <div class="flex flex-col md:flex-row pt-5 mt-3">
      <!-- heading on bottom of div -->
      <div class="w-full relative min-h-full">
        <div class="md:absolute bottom-0">
          <h1 class="justify-end text-4xl mb-4">Rules and Regulations</h1>
        </div>
      </div>
    </div>

    <!-- conten -->
    <div class="mt-4">
      <div class="pt-4 leading-normal sm:leading-loose">
        <div
          class="rules text-justify md:text-xl text-sm playfair-display-normal"
        >
          {
            rulesContent.map((content) => {
              const Content = content.Content;
              return <Content />;
            })
          }
        </div>
      </div>
    </div>
  </section>
</Main>

<script>
  const rules = document.querySelector(".playfair-display-normal");
  const rulesUL = rules.querySelector("ul");
  const rulesLI = rules.querySelectorAll("ul li");
  rulesUL.classList.add("list-disc");
  rulesLI.forEach((li) => {
    li.classList.add("mb-2");
  });

  const rulesStrong = rulesLI[3].querySelectorAll("strong");
  rulesStrong.forEach((strong) => {
    strong.classList.add("text-3xl", "text-red-700", "font-normal");
  });

  const rulesLanguages = rulesLI[3].querySelector("em");
  // console.log(rulesLanguages);
  rulesLanguages.classList.add("text-lg", "font-normal");
</script>
