---
import Main from "../layouts/main.astro";
const themeContent = await Astro.glob("../content/themePage/*.md");
---

<Main>
  <section>
    <div class="py-3">
      <div class="col-span-1 p-4">
        <h1 class="section-title text-4xl pb-3">Theme of Hackathon - 2024</h1>
        <div class="leading-loose">
          {
            themeContent.map((content) => {
              const Content = content.Content;
              return <Content />;
            })
          }
        </div>
      </div>
    </div>
    <style>
      tr,
      td {
        border: 1px solid black;
        padding: 10px;
      }
      @media (min-width: 600px;) {
        tr,
        td {
          padding: auto;
        }
      }
    </style>
  </section>
</Main>

<script>
  const theme = document.querySelector(".leading-loose");
  const themeP = theme.querySelectorAll("p");
  const themeOL = theme.querySelector("ol");
  const themeLI = theme.querySelectorAll("ol li");
  themeP[0].classList.add("text-xl", "playfair-display-normal");
  themeP[1].classList.add("text-xl", "playfair-display-normal", "pt-2");
  themeP[2].classList.add(
    "md:text-xl",
    "text-sm",
    "playfair-display-normal",
    "pt-3"
  );

  themeOL.classList.add(
    "text-orange-900",
    "leading-loose",
    "list-decimal",
    "mx-2",
    "md:text-xl",
    "text-sm",
    "playfair-display-normal",
    "pt-3"
  );
</script>
