---
import Main from '../layouts/main.astro';
---


<Main>
    <section id="webinar">

        <div class="py-3">
            <!-- 1/4 Width Column -->
            <!-- <div class="col-span-1 bg-gray-300 p-4">
                <img src=""/>
                <h1 class="section-title">Celebrating India's Innovation</h1>
                
                
            </div> -->
            <!-- 3/4 Width Column -->
            <div class="col-span-1 p-4">
                
                <h1 class="section-title text-4xl pb-3">
                Attend our upcoming webinars
                </h1>
            <div class="leading-loose">
            <ol class="list-decimal mx-2 md:text-xl text-sm playfair-display-normal pt-3">
                <li class="text-2xl mb-4">How to learn Synfig Studio Using a Spoken Tutorial? 
                <p class="text-xl"> - Friday - 5th April  | 3 - 3.45 pm  (  Presenter -   Khushalsingh).</p></li>
                <li class="text-2xl mb-4">Introduction to Synfig Studio 
                <p class="text-xl"> - Monday - 8th April  | 3 - 3.45 pm   (  Presenter -  Khushalsingh).</p></li>
                <li class="text-2xl mb-4">How to submit animation for ANIMATE 2024?
                <p class="text-xl">  - Tuesday - 16th April   | 3 - 3.45 pm  ( Presenter - Priyam and Khushalsingh).</p></li>
             </ol>
        </div>
        </div>
       
       
        </section>
        <style>
            tr,td{
                border: 1px solid black;
                padding: 10px;
            }
            @media  (min-width: 600px;) {
                tr,td{
                    
                    padding: auto;
                }
            }
        </style>
</Main>